@model AutoWorkshop.Web.Models.AppointmentViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Appointment</h4>
<hr />

<div class="dropdown">
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dron"  data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown button
    </button>
    <div class="dropdown-menu" aria-labelledby="dron">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>
<br />

<div class="dropdown show">
    <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Dropdown link
    </a>

    <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#">Action</a>
        <a class="dropdown-item" href="#">Another action</a>
        <a class="dropdown-item" href="#">Something else here</a>
    </div>
</div>
<br />

<div class="navbar navbar-expand-md">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Appointments
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <div class="dropdown-divider"></div>
                <div class="dropdown-item" style="border:solid red 1px">
                    hdhdhsadahgdsss
                </div>
            </div>
           
            <div class="nav-item">
                hdhdhsadahgd
            </div>
        </li>
    </ul>
</div>


@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>

            <div class="form-group">
                <ejs-dropdownlist id="AppointmentTypes" dataSource="@Model.AppointmentTypes" ejs-for="AppointmentTypeId" floatLabelType="Auto" placeholder="Select an AppointmentType">
                    <e-dropdownlist-fields text="Type" value="Id"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>


            <div class="form-group">
                <label asp-for="Date" class="control-label"></label>
                <input asp-for="Date" class="form-control" />
                <span asp-validation-for="Date" class="text-danger"></span>
            </div>


            <div class="form-group">
                <label asp-for="Time" class="control-label"></label>
                <input asp-for="Time" class="form-control" />
                <span asp-validation-for="Time" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="WorkEstimate" class="control-label"></label>
            <input asp-for="WorkEstimate" class="form-control" />
            <span asp-validation-for="WorkEstimate" class="text-danger"></span>
        </div>
            <div class="form-group">
                <label asp-for="Information" class="control-label"></label>
                <input asp-for="Information" class="form-control" />
                <span asp-validation-for="Information" class="text-danger"></span>
            </div>
            <div class="form-group">
            <label asp-for="MecanicId" class="control-label"></label>
            <select asp-for="MecanicId" class ="form-control" asp-items="ViewBag.MecanicId"></select>
        </div>
        <div class="form-group">
            <label asp-for="ClientId" class="control-label"></label>
            <select asp-for="ClientId" class ="form-control" asp-items="ViewBag.ClientId"></select>
        </div>


            <div class="form-group">
                <ejs-dropdownlist id="Vehicless" dataSource="@Model.Vehicles" ejs-for="VehicleId" floatLabelType="Auto" placeholder="Select a Vehicle">
                    <e-dropdownlist-fields text="LicensePlate" value="Id"></e-dropdownlist-fields>
                </ejs-dropdownlist>
            </div>



            <div class="form-group">
            <div class="checkbox">
                <label>
                    <input asp-for="IsConfirmed" /> @Html.DisplayNameFor(model => model.IsConfirmed)
                </label>
            </div>
        </div>
            <div class="form-group">
                <div class="checkbox">
                    <label>
                        <input asp-for="IsUrgent" /> @Html.DisplayNameFor(model => model.IsUrgent)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>*@

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
