@model AutoWorkshop.Web.Data.Entities.Client

@{
    ViewData["Title"] = "Index";

}



<br />
<br />


<div class="block-23 d-flex justify-content-center align-items-center" style="height:500px ;background-color:darkorange">
    <div style="height: 200px">
        <h1 style="font-size: x-large; font-weight: bold ">WELCOME</h1>
    </div>

</div>
