@model AutoWorkshop.Web.Models.RepairViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Repair</h4>
<hr />

<div class="container">
    <form asp-action="Create">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <div class="row">
            <div class="col-md-4 form-group">
                <label asp-for="Appointment" class="control-label" style="font-weight:bold"></label>
                <select  asp-for="AppointmentId" asp-items="Model.Appointments" class="form-control"></select>
                <span asp-validation-for="AppointmentId" class="text-danger"></span>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4 float-right form-group">
                <label asp-for="CompletedAt" class="control-label" style="font-weight:bold"></label>
                <input id="picker" onchange="teste()" asp-for="CompletedAt" class="form-control" value="@DateTime.Now" />
                <span asp-validation-for="CompletedAt" class="text-danger"></span>
            </div>
            <br />
            <br />
            <br />
            <div class="col-md-12 form-group" style="margin-top:20px">
                <div class="text-center">
                    <label asp-for="RepairInfo" class="control-label" style="font-weight:bold"></label>
                </div>
                <div>
                    @Html.TextAreaFor(e => e.RepairInfo, 12, 150, null)
                    @*<input asp-for="RepairInfo" class="form-control" />*@
                    <span asp-validation-for="RepairInfo" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary btn-block" />
        </div>

        @if (User.IsInRole("Admin"))
        {
            <a asp-action="Index" class="btn btn-block btn-dark">Cancel</a>          
        }
        else
        {
            <a asp-action="MyRepairs" asp-controller="Mechanics" class="btn btn-block btn-dark">Cancel</a>   
        }

    </form>
</div>

<script type="text/javascript">
    function teste2(){
        $('#teste').datetimepicker({
            format: 'DD/MM/YYYY'
        });
    }


    //function teste() {
    //    var pick = document.getElementById("picker");

    //    console.log(pick.value)
    //    //alert(pick.value)
    //}
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
