@model AutoWorkshop.Web.Models.RepairViewModel

@{
    ViewData["Title"] = "Edit";
}

<h2>Edit</h2>

<h4>Repair</h4>
<hr />
@*<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />

            <div>
                <label asp-for="RepairInfo" class="control-label"></label>
                @Html.TextAreaFor(e => e.RepairInfo, 12, 75, null)
                <input asp-for="RepairInfo" class="form-control" />
                <span asp-validation-for="RepairInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RepairInfo" class="control-label"></label>
                <input asp-for="RepairInfo" class="form-control" />
                <span asp-validation-for="RepairInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CompletedAt" class="control-label"></label>
                <input asp-for="CompletedAt" class="form-control" />
                <span asp-validation-for="CompletedAt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AppointmentId" class="control-label"></label>
                <select asp-for="AppointmentId" class="form-control" asp-items="Model.Appointments"></select>
                <span asp-validation-for="AppointmentId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>*@

<div class="container">
    <form asp-action="Edit">
        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
        <input type="hidden" asp-for="Id" />

        <div class="row">
            <div class="col-md-4 form-group">
                <label asp-for="Appointment" class="control-label" style="font-weight:bold"></label>
                <select asp-for="AppointmentId" asp-items="Model.Appointments" class="form-control"></select>
                <span asp-validation-for="AppointmentId" class="text-danger"></span>
            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4 float-right form-group">
                <label asp-for="CompletedAt" class="control-label" style="font-weight:bold"></label>
                <input asp-for="CompletedAt" class="form-control" />
                <span asp-validation-for="CompletedAt" class="text-danger"></span>
            </div>
            <br />
            <br />
            <br />
            <div class="col-md-12 form-group" style="margin-top:20px">
                <div class="text-center">
                    <label asp-for="RepairInfo" class="control-label" style="font-weight:bold"></label>
                </div>
                <div>
                    @Html.TextAreaFor(e => e.RepairInfo, 12, 150, null)
                    @*<input asp-for="RepairInfo" class="form-control" />*@
                    <span asp-validation-for="RepairInfo" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Save Changes" class="btn btn-primary btn-block" />
        </div>

        @if (User.IsInRole("Mechanic"))
        {
            <div>
                <a class="btn btn-block btn-outline-secondary" asp-action="MyRepairs" asp-controller="Mechanics">Back to List</a>
            </div>
        }
        else
        {
            <div>
                <a class="btn btn-block btn-outline-secondary" asp-action="Index">Cancel Changes</a>
            </div>
        }

    </form>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
