@{
    ViewData["Title"] = "Confirm email";
}

<h2>@ViewData["Title"]</h2>
<div>
    <br />
    <h1>You're almost there!</h1>
    <br/>
    <br/>
    <p>Thank you for joining us at Penguin Workshop. Your email has been confirmed</p>
    <p>
        In order to have full access to all the features our website provides we are going
        to need you to fill a quick information form after signing in.
    </p>
</div>

