@model AutoWorkshop.Web.Models.VehicleViewModel

@{
    ViewData["Title"] = "Create";
}

<h2>Create</h2>

<h4>Vehicle</h4>
<hr />
<div class="container-fluid" >

    <form asp-action="Create" >
        <input type="hidden" asp-for="UserId" />
        <div class="row">
            <div class="col-1">

            </div>
            <div class="col-4">

                <div asp-validation-summary="ModelOnly" class="text-danger"></div>

                <div class="form-group">
                    <label asp-for="Brand" class="control-label"></label>
                    <select asp-for="BrandId" asp-items="Model.Brands" class="form-control"></select>
                    <span asp-validation-for="BrandId" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Model" class="control-label"></label>
                    <input asp-for="Model" class="form-control" />
                    <span asp-validation-for="Model" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Type" class="control-label"></label>
                    <input asp-for="Type" class="form-control" />
                    <span asp-validation-for="Type" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Transmission" class="control-label"></label>
                    <input asp-for="Transmission" class="form-control" />
                    <span asp-validation-for="Transmission" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Color" class="control-label"></label>
                    <input asp-for="Color" class="form-control" />
                    <span asp-validation-for="Color" class="text-danger"></span>
                </div>

            </div>
            <div class="col-1">

            </div>
            <div class="col-4">

                <div class="form-group">
                    <label asp-for="LastMaintenance" class="control-label"></label>
                    <input asp-for="LastMaintenance" class="form-control" />
                    <span asp-validation-for="LastMaintenance" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="Mileage" class="control-label"></label>
                    <input asp-for="Mileage" class="form-control" />
                    <span asp-validation-for="Mileage" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="EnginePower" class="control-label"></label>
                    <input asp-for="EnginePower" class="form-control" />
                    <span asp-validation-for="EnginePower" class="text-danger"></span>
                </div>

                <div class="form-group">
                    <label asp-for="LicensePlate" class="control-label"></label>
                    <ejs-maskedtextbox id="mask1" ejs-for="LicensePlate" mask=">AA-AA-AA"></ejs-maskedtextbox>
                    @*<input asp-for="LicensePlate" class="form-control" />*@
                    <span asp-validation-for="LicensePlate" class="text-danger"></span>
                </div>

                @if (User.IsInRole("Admin"))
                {
                    <div class="form-group">
                        <label asp-for="Clients" class="control-label"></label>
                        <select asp-for="ClientId" asp-items="Model.Clients" class="form-control"></select>
                        <span asp-validation-for="ClientId" class="text-danger"></span>
                    </div>
                }

                <div class="form-group">
                    <button type="submit" class="btn btn-primary btn-block"> Create</button>
                    
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Index" class="btn btn-dark btn-block">Cancel</a>
                    }
                    else
                    {
                         <a asp-controller="Clients" asp-action="MyVehicles" class="btn btn-dark btn-block">Cancel</a>
                    }
                   
                </div>
            </div>
        </div>
        
    </form>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
