@model AutoWorkshop.Web.Data.Entities.Client
@{
    ViewData["Title"] = "InfoAfterLogin";  //TODO: fazer um viewmodel para por as propriedades como required
}
@{
    Layout = null;
}

<link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
<script src="~/lib/jquery/jquery.js"></script>

@*<script src="~/lib/jquery-validation/dist/jquery.validate.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.js"></script>*@




<br />
<br />
<div class="row">
    <div class="col-md-4 offset-md-4">
        <form method="post" id="formd">

            <h2>Fill in the required information</h2>
            <br />
            <br />

            <div asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="Id" />
            <input type="hidden" asp-for="FirstName" />
            <input type="hidden" asp-for="LastName" />


            <div class="form-group">
                <label asp-for="StreetAddress">Street Address</label>
                <input id="address" asp-for="StreetAddress" class="form-control" />
                <span asp-validation-for="StreetAddress" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneNumber">Phone Number</label>
                <input id="phone" asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="PostalCode">Postal Code</label>
                <input id="postal" asp-for="PostalCode" class="form-control" />
                <span asp-validation-for="PostalCode" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="DateofBirth">Date of Birth Number</label>
                <input id="date" asp-for="DateofBirth" class="form-control" />
                <span asp-validation-for="DateofBirth" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="TaxIdentificationNumber">Tax Identification Number</label>
                <input id="tax" asp-for="TaxIdentificationNumber" class="form-control" />
                <span asp-validation-for="TaxIdentificationNumber" class="text-warning"></span>
            </div>

            <div class="form-group">
                <label asp-for="CitizenCardNumber">Citizen Card Number</label>
                <input id="cit" asp-for="CitizenCardNumber" class="form-control" />
                <span asp-validation-for="CitizenCardNumber" class="text-warning"></span>
            </div>

            <br />
            <div class="form-group">
                <input type="button" id="old" value="Update" onclick="ChangeButton()" class="btn btn-warning btn-block" />
            </div>

            <div>
                <button asp-action="Index" id="hiddenbutton" style="visibility:hidden" class="btn btn-secondary btn-block">Exit</button>
            </div>

            <div class="text-success">
                @ViewBag.Message
            </div>
        </form>
    </div>
</div>




<script type="text/javascript">

    function ChangeButton() {


         $(document).ready(function () {

            var datat = $("#formd").serialize();

            console.log(datat);

            $.ajax({
                type: "post",
                data: datat,
                url: '@Url.Action("InfoAfterLogin", "Home")',
                dataType: "json",
                success: function () {
                    var b = document.getElementById("old");
                    var x = document.getElementById("hiddenbutton");

                    b.style.visibility = "hidden";
                    b.style.display = "none";
                    x.style.visibility = "visible";
                },
                error: function (jqxhr, status, exception) {
                    alert('Exception:', exception);
                }
            })
         });

        //$(document).ready(function () {
        //    $("#formd").validate({
        //        rules: {
        //            "PhoneNumber": {
        //                required: true
        //                //textOnly: true
        //            },
        //        },
        //        messages: {
        //            "PhoneNumber": {
        //                required: "Please enter a number",
        //            },
        //        }
        //    });
        //});


        //var IsValid = $("#formd").valid();
        //if (IsValid) {
        //}
    }
</script>




@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

